div {
  display: block;
}

.student {
  width: 700px;
  margin: 0 auto;
  display: block;
  margin-bottom: 30px;
  margin-top: 10px;
}

.left {
  width: 60%;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.right {
  width: 40%;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}

h2.std_name {
  margin: 0px;
  padding: 0px;
}
p.uni_name {
  margin: 0px;
  padding: 0px;
}
.score {
  font-size: 30px;
  font-weight: bold;
  color: green;
}
